BASE_URL=http://localhost:8080

TEST_ADMIN_EMAIL=admin@example.com
TEST_ADMIN_PASSWORD=yourpassword

TEST_CLUB_ADMIN_EMAIL=clubadmin@example.com
TEST_CLUB_ADMIN_PASSWORD=yourpassword

TEST_SCOUT_EMAIL=scout@example.com
TEST_SCOUT_PASSWORD=yourpassword

TEST_PLAYER_EMAIL=player@example.com
TEST_PLAYER_PASSWORD=yourpassword
